*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 44px;
    width: 100%;
    display: flex;
    /*设置主轴方向*/
    flex-direction: row;
    /*设置主轴分布方式*/
    justify-content: center;
    /*设置侧轴的分布方式*/
    align-items: center;
    background-color:rgba(45,45,45,0.98)
}
.nav a{
    text-decoration: none;
    color: #cccccc;
    width: 102px;
}
.nav .logo{
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 44px;
}
.nav .search{
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 44px;
}
.nav .bag{
    background-image: url("../img/bag.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 44px;
}
.switch{
    height: 44px;
    /*一个是显示状态，一个是位置定位*/
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.switch .line{
    width: 18px;
    height: 1px;
    background-color: #fff;
    transition:all 1s;
    display: none;
    /*设置旋转的中心点*/
    /*不设置的话旋转点会发生偏移*/
    transform-origin:left center;
}
.switch .line:nth-child(1){
    position: absolute;
    top: 14px;
    /*绝对定位居中的设置
    left: calc(50% - 9px);其中是减去该像素总宽（或高）的一把半
    注意！！！一定要有空格*/
    left: calc(50% - 9px);

}
.switch .line:nth-child(2){
    position: absolute;
    top: 26px;
    left: calc(50% - 9px);
}

.page{
    width: 100vw;
    display: flex;
    height: 0;
    transition: all 1s;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: black;
}
.main{
    width: 100%;
}
/*开始确定关键屏幕大小*/

@media only screen and (max-width: 768px) {
    .nav a, .nav .switch{
        width: 50px;
    }
    .nav{
        justify-content: space-between;
        background-color:rgba(45,45,45,0.98)
    }
    .nav .switch{
        display: flex;
        order: 1;
        z-index: 100;/*在点击的时候开关和logo都还在，因此这两个层的层级必须要高*/
    }
    .nav .logo{
        order: 2;
        color: #cccccc;
        z-index: 100;/*跟上面同理*/
    }
    .nav .bag{
        order: 3;
    }
    .switch .line{
        display: block;
    }
    .text{
        display: none;
    }
    .search{
        display: none;
    }

    /*开始动画演示效果*/
    #choose:checked~ .switch .line:nth-child(1){
        transform: rotate(45deg);
    }
    #choose:checked~ .switch .line:nth-child(2){
        transform: rotate(-45deg);
    }
    #choose:checked~ .page{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        color: #ffffff;
    }
    .sacipt{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        top: 48px;
        height: 36px;
        left: 0;
        margin: 0 10px 17px 10px;
        background-color: #cccccc;
        border-radius: 4px;
        margin-top: 50px;
    }
    .border{
        width: 100%;
        height: 1px;
        background:#cccccc ;
    }
    .ico{
        width: 32px;
        height: 36px;
        background-image: url("../img/image_small.svg");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;
    }
    .sacipt input {
        flex: 1;
        height: 36px;
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
        font-size: 17px;
    }
    .navlist{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0px 38px;
        height: auto;
    }
    .navlist a{
        height: 44px;
        line-height: 44px;
        width: 100%;
        border-bottom: 1px solid #333;
        color: #ffffff;
        font-size: 17px;
    }
    .navlist a:last-child{
        border: none!important;
    }
}

/*做得差不多就行了，开始进入版面*/
.main-banner{
    height: 500px;
    width: 100%;
    background-image: url("../img/main-banner.jpg");
    background-size: 100% 500px;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
}
.unit-copy-wrapper h2{
    color: white;
    font-size: 32px;
    font-weight: 600;
}
.unit-copy-wrapper h3{
    color: white;
    font-size: 19px;
    font-weight: 400;
    margin: 4px auto;
}
.unit-copy-wrapper p{
    display: block;
    width: 100%;
    height: auto;
    margin: 2px auto;
    color: #888;
    font-size: 14px;
}

.unit-copy-wrapper{
    width: 100%;
    height: 200px;
    margin: 37px auto 0;
}
.cta-links{
    margin-top: 8px;
    width: 100%;
    height: auto;
    text-align: center;
}
.cta-links a{
    text-decoration: none;
    color: #66bbff;
    font-size: 19px;
    font-weight: 400;

}
.cta-links a:nth-child(2){
    margin-left: 20px;
}
.cta-links a:hover{
    /*text-decoration: underline;
    text-decoration-color: #cccccc;*/
}
.Minor-banner{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner1{
    width: 48%;
    height: 450px;
    background-image: url("../img/banner1.jpg");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #fafafa;
}
.banner2{
    width: 48%;
    height: 450px;
    background-image: url("../img/banner2.jpg");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #fafafa;

}
.unit-copy-wrapper{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.unit-copy-wrapper .logo-title{
    width: 330px;
    height: 57px;
    background-image: url("../img/logo_tile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
}

.banner1 .unit-copy-wrapper h3{
    color: #111;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.banner2 .unit-copy-wrapper h3{
    color: #111;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.cta-links{
    margin-top: 0px;
}
.cta-links a{
    font-size: 16px;
}
.cta-links a:active{
    text-decoration: underline;
    color: #888888;
}
